body {
  background-color: #F2EBE2;
}

.fullscreen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: black;
  z-index: 999;
}

button {
  background-color: transparent;
  padding: 10px 24px;
  color: #ffffff;
  border: 2px solid black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transition: 0.4s;
}

button:hover {
  background-color: #f44336;
  color: white;
}
