<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS3六边形图片网格布局DEMO演示</title>
</head>
<body>
<div style="text-align:center;clear:both;"></div>
<div style="background: black">
  <ul id="hexGrid">
    <li class="hex" *ngFor="let image of images">
      <div class="hexIn"><img src="{{image.url}}" alt=""/>
        <h1>{{image.desc}}</h1>
        <p>永远幸福</p>
      </div>
    </li>
  </ul>
</div>
</body>
</html>
