<div style="background: #ECECEC;padding:30px;">
  <div nz-row [nzGutter]="8">
    <nz-radio-group [(ngModel)]="radioValue">
      <div nz-col [nzSpan]="12" *ngFor="let image of images">
        <label nz-radio nzValue="{{image.id}}" (click)="setValue(image.id)">
          <nz-card style="margin:5px" [nzCover]="coverTemplate">
            <nz-card-meta nzDescription="{{image.desc}}"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img id="{{image.id}}" alt="example" src="{{image.url}}"/>
          </ng-template>
        </label>
      </div>
    </nz-radio-group>
  </div>
</div>

