<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzXs]="24" [nzSm]="4" nzRequired nzFor="name">照片墙名称</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="10">
      <input type="text" nz-input formControlName="name" placeholder="请输入" [(ngModel)]="photoWallName">
      <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">请输入照片墙名称
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzXs]="24" [nzSm]="4" nzFor="desc">照片墙描述</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="10">
      <textarea formControlName="desc"  rows="4" nz-input [(ngModel)]="photoWallDesc"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzXs]="24" [nzSm]="4">照片墙类型</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="10">
      <erhuoxiubao-type-list (commitValue)="changeType($event)" [radioValue]="photoWallType"></erhuoxiubao-type-list>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzXs]="24" [nzSm]="4">选择照片</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="10">
      <erhuoxiubao-upload (finish_upload)="refresh($event)"></erhuoxiubao-upload>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzXs]="24" [nzSm]="4" nzFor="images">已选择的照片</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="18">
      <erhuoxiubao-choose-photos [images]="images" (removeAction)="remove($event)"></erhuoxiubao-choose-photos>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button [nzType]="'default'" (click)="submitForm()">确认</button>
      <button nz-button [nzType]="'default'" (click)="return2List()">返回</button>
    </nz-form-control>
  </nz-form-item>
</form>
