<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzMode]="'horizontal'" [nzTheme]="'dark'" style="line-height: 64px;">
      <li nz-menu-item (click)="goHome()"><i class="anticon anticon-gift"></i>照片墙</li>
    </ul>
  </nz-header>
  <nz-content style="padding:0 50px;">
    <div style="background:#fff; padding: 24px; min-height: 500px; padding: 5px">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">二货秀宝欢乐多</nz-footer>
</nz-layout>



