<div class="table-operations" style="margin-bottom: 5px">
  <button nz-button (click)="add()">
    <i nz-icon class="anticon anticon-plus-circle-o" style="margin-right: 8px;"></i>新增
  </button>
</div>
<nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'vertical'" [nzPagination]="pagination" nzBordered>
  <ng-template #item let-item>
    <nz-list-item [nzExtra]="extra" [nzActions]="[editAction, deleteAction, detailAction]">
      <nz-list-item-meta [nzTitle]=" nzTitle"
                         nzAvatar="https://lixing-1257240793.cos.ap-beijing.myqcloud.com/avator/type{{item.type}}.jpg"
                         nzDescription="{{item.desc}}">
        <ng-template #nzTitle>
          <a href="https://ng.ant.design">{{item.title}}</a>
        </ng-template>
      </nz-list-item-meta>
      <ng-template #extra>
        <img width="272" alt="logo"
             src="https://lixing-1257240793.cos.ap-beijing.myqcloud.com/avator/type{{item.type}}.jpg">
      </ng-template>
      <ng-template #editAction>
        <i nz-icon class="anticon anticon-edit" style="margin-right: 8px;" (click)="edit(item.id)"></i>
      </ng-template>
      <ng-template #deleteAction>
        <i nz-popconfirm nzTitle="确定要删除这个照片墙吗？"
           (nzOnConfirm)="delete(item.id)"
           nz-icon class="anticon anticon-delete" style="margin-right: 8px;"></i>
      </ng-template>
      <ng-template #detailAction>
        <i nz-icon class="anticon anticon-picture" style="margin-right: 8px;" (click)="detail(item.type, item.id)"></i>
      </ng-template>
    </nz-list-item>
  </ng-template>
  <ng-template #pagination>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
  </ng-template>
</nz-list>
