
<div style="background: #ECECEC;padding:30px; min-height: 200px">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="4" *ngFor="let image of images">
      <nz-card style="margin:5px" [nzCover]="coverTemplate">
        <nz-card-meta nzDescription="{{image.desc}}" [nzAvatar]="actionDelete"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img id="{{image.id}}" alt="example" src="{{image.url}}"/>
      </ng-template>

      <ng-template #actionDelete>
        <i class="anticon anticon-close-circle" (click)="remove(image)"></i>
      </ng-template>
    </div>
  </div>
</div>

