<div class="clearfix">
  <nz-upload class="upload-list-inline"
             [nzCustomRequest]="tengxunUpload"
             nzMultiple="true"
             [nzFileType]="fileTypes"
             [nzBeforeUpload]="beforeUpload"
             [(nzFileList)]="filelist"
             [nzLimit]="0"
  >
    <button nz-button>
      <i class="anticon anticon-upload"></i><span>选择图片</span>
    </button>
  </nz-upload>
  <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="tengxunUpload()"
          [disabled]="filelist.length == 0" style="margin-top: 16px">
    {{ uploading ? '上传中' : '开始上传' }}
  </button>
</div>


