/* You can add global styles to this file, and also import other style files */

figure {
  width: 200px;
  position: absolute;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
}

figure img {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

figure figcaption {
  font-family: Comic Sans, Comic Sans MS, cursive;
  color: #8F8476;
}
